<footer>
    <div class="social-media">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <h5>Satuan Tugas Penanganan COVID-19 - © Copyright <span>2021</span>. All Rights Reserved.</h5>
</footer>