<div class="tabs">
    <ul>
        <li class="active">
            <h3 class="tab-txt">Berita Terkini</h3>
        </li>
        <li>
            <h3 class="tab-txt">Tips</h3>
        </li>
        <li>
            <h3 class="tab-txt">Info</h3>
        </li>
    </ul>
</div>