<div class="sidebar">
    <center>
        <img src="/profile.png" class="profile_image" alt="">
        <h4><%= user.name %> </h4>
    </center>
    <a href="/api/user/dashboard" title="Dashboard"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
    <a href="/api/user/maps" title="Maps"><i class="fas fa-map-marked-alt"></i><span>Maps</span></a>
    <a href="/api/user/users" title="User Manager"><i class="fas fa-users"></i><span>Users</span></a>
    <a href="/api/user/articles" title="Articles"><i class="fas fa-newspaper"></i><span>Articles</span></a>
    <a href="/api/user/device" title="Device Manager"><i class="fas fa-microchip"></i><span>Device</span></a>
    <a href="/api/user/profile" title="Profile"><i class="fas fa-user-circle"></i><span>Profile</span></a>
</div>