<%- include('./partials/header.ejs') %>
    <section id="download">
        <div class="wrapper">
            <div class="text">
                <h1>APLIKASI COVT-19 TRACKER</h1>
                <p>Perangkat selular memang tidak bisa dipisahkan dari kehidupan sehari-hari. Bahkan hampir setiap hari, pembaca website KawalCOVID19.id menghabiskan waktu lebih banyak dengan perangkat selular dibandingkan dengan komputer atau laptop.</p>
                <p>Hal ini yang mendasari tim relawan untuk membuat aplikasi KawalCOVID19. Diharapkan dengan adanya aplikasi ini, pengguna mobile khususnya Android dapat dengan mudah mendapatkan informasi yang terpercaya seputar COVID-19 di Indonesia.</p>
                <p>Terima kasih kepada komunitas Android di Indonesia yang telah memberikan arahan mengenai framework, cara kerja, dan mengawal tim mobile sampai saat ini.</p>
                <p>Aplikasi Android dapat diunduh melalui pranala berikut ini:</p>
            </div>
            <div class="btn-download">
                <a href="/covt-app.apk" download>
                    <div class="btn-text">
                        <h5>Unduh Untuk</h5>
                        <h4>Android</h4>
                    </div>
                    <i class="fas fa-download"></i>
                </a>
            </div>
        </div>
        <img src="/app.jpeg" alt="">
    </section>

<%- include('./partials/footer.ejs') %>